<ion-view view-title="笔画详情" class="">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item {{actived[0]}}" ng-click="tabs_click(0)">
                静态图
            </a>
            <a class="tab-item {{actived[1]}}" ng-click="tabs_click(1)">
                书写视频
            </a>
        </div>
        <div style="margin-top: 120px;">
            <div class="{{page[0]}}"  >
                werwerwerwerwerwer
            </div>
            <div class="{{page[1]}}" >
                werwerwerwererwerwerwerwerwerwerwer
            </div>
        </div>
    </div>
 </ion-view>