

<ion-view view-title="学校班级" class="has-header">
    <ion-list>
        <ion-item class="item item-icon-right" style="padding:0px; margin-top:78px" ng-click="go_select_province()">
            <i class="icon ion-ios-arrow-forward"></i>
            <img src="img/login_icon_school_normal@2x.png" style="margin-top:16px;margin-left:18px;margin-bottom: 16px;" class="ionic-img-icon">
            <span style="position: absolute ; top: 28px; left:110px;font-size:34px; color:#111111">学校</span>
            <span style="position:absolute; font-size: 28px; color: #abb0bb; right:40px;top:32px;">
                {{school_selected}}
            </span>
        </ion-item>
        <ion-item class="item item-icon-right" style="padding:0px;" ng-click="go_select_class()">
            <i class="icon ion-ios-arrow-forward"></i>
            <img src="img/login_icon_class_normal@2x.png" style="margin-top:16px;margin-left:18px;margin-bottom: 16px;" class="ionic-img-icon">
            <span style="position: absolute;top: 30px; left:110px; color:#111111; font-size:34px;">班级</span>
             <span style="position:absolute; font-size: 28px; color: #abb0bb; right:40px;top:32px;">
                {{class_selected}}
            </span>
        </ion-item>
    </ion-list>
    <button class="word-button  button-rounded" style="margin-top:48px" ng-click="go_personDetail()">
        下一步
    </button>
    <div style="position: absolute; bottom: 60px; width: 100%;
            text-align: center;">
        <!--hello-->
        <img src="img/login_icon_logo_normal@2x .png" style="width:92px;height: 92px;">
    </div>
</ion-view>