<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="例字" icon-on="ion-android-cloud" icon-off="ion-android-cloud-outline"
	    ui-sref="tabs.word">
	    <ion-nav-view name="word-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="作业" icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
			 ui-sref="tabs.homework">
		<ion-nav-view name="homework-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="个人" icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
			 ui-sref="tabs.person">
		<ion-nav-view name="person-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>